<strong>Olá, {{provider}}</strong>
<p>Um evento que você organiza tem uma nova inscrição. Confira os detalhes abaixo:</p>
<p>
  <strong>Cliente:</strong> {{user}} <br />
  <strong>Evento: </strong> {{meetup}} <br />
  <br />
</p>
